body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
}

.profile-card-w {
  max-width: 900px;
  min-height: 450px;
  box-shadow: 1px 2px 2px 2px #024b0280;
  margin: auto;
  border-radius: 15px;
}

.profile-card-w .nav-bar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 40px;
}

.profile-card-w .nav-bar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #56ab2f;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, #ffffff, #024b02) 1;
}

.profile-card-w .user-info-top {
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to left, #024b02, #56ab2f);
  color: #ffffff;
  padding-right: 20px;
}

.profile-card-w .user-info-top h2 {
  text-transform: uppercase;
}

.profile-card-w .user-info-top p {
  font-size: 18px;
}

.profile-card-w .user-info-top time {
  font-weight: 500;
}

.user-info-top .avatar-container {
  border-radius: 50%;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
}
.user-info-top .avatar-container img {
  width: inherit;
  border-radius: 75px;
}

.profile-card-w .user-info-bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  color: #024b02;
}

.profile-card-w .user-info-bottom section h3 {
  text-align: center;
  color: #024b02;
}

.profile-card-w .user-info-bottom ul {
  list-style-type: none;
}

.profile-card-w .user-info-bottom ul:not(.social-links) li {
  box-shadow: 1px 2px 2px 2px #024b0280;
  padding: 3px 5px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.profile-card-w .user-info-bottom .social-links {
  list-style-type: none;
}

.profile-card-w .user-info-bottom ul li {
  font-size: 16px;
}

.profile-card-w .user-info-bottom ul li a img {
  width: 20px;
}

@media screen and (max-width: 960px) {
  .profile-card-w {
    max-width: 600px;
  }

  .profile-card-w .user-info-top p {
    font-size: 15px;
  }

  .profile-card-w .user-info-bottom ul li {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .profile-card-w {
    max-width: 300px;
  }

  .profile-card-w .user-info-top {
    flex-direction: column-reverse;
    padding-left: 10px;
  }

  .profile-card-w .user-info-top .avatar-container {
    margin: auto;
  }

  .profile-card-w .user-info-bottom {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .profile-card-w .user-info-bottom section ul {
    padding-left: 1.2rem;
    margin: 0;
  }

  .profile-card-w .user-info-bottom section ul li {
    display: inline-block;
    margin-right: 1rem;
    justify-self: center;
    font-size: 12px;
  }
}
